<%= stylesheet_link_tag "game" %>
<%# javascript_include_tag "twisted-metal-src/Boot.js.erb"%>
<%# javascript_include_tag "chat_lobby.js"%>
<%# ORDER IN WHICH JS FILES ARE INCLUDED MATTERS %>
<%# javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/twisted-metal-src/Boot.js")] %>
<%# javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/twisted-metal-src/Preloader.js")] %>
<%# javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/twisted-metal-src/MainMenu.js")] %>
<%# javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/twisted-metal-src/Game.js")] %>
<%# javascript_include_tag *Dir[Rails.root.join("app/assets/javascripts/twisted-metal-src/Tank.js")] %>


<div id="game"></div>
<div id="orientation"></div>
    <h1 style="color:#fff;">HELLO</h1>

<script type="text/javascript">

(function () {

    var game = new Phaser.Game(800, 600, Phaser.CANVAS, 'game');

    game.state.add('Boot', TwistedMetal.Boot);
    game.state.add('Preloader', TwistedMetal.Preloader);
    game.state.add('MainMenu', TwistedMetal.MainMenu);
    game.state.add('Game', TwistedMetal.Game);

    game.state.start('Boot');


});
</script>


