<%= stylesheet_link_tag "signin" %>


<div class='login-container'>

	<h2 class="form-signin-heading links">New High Score</h2>
	<div class="field">

		<%= render 'form' %>

		<%= link_to 'Back', high_scores_path %>
	</div>
</div>
