<div class="col-md-8, col-md-oVffset-4, col-md-8" style="background-color: green; position:absolute; top:0; bottom:0;">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
<div class="col-md-4" style="background-color: blue; position:absolute; top:0; bottom:0;">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
